%div.row
  %div.col-lg-8
    = form_for @profile, :class => 'spacer', :remote => true do |f|
      = f.label :chapter, 'Chapter name'
      = f.text_field :chapter, :autofocus => true
      = f.label :label, 'Select a Skill'
      = f.text_field :label
      = f.label :value, 'Number value out of 100 of above skill'
      = f.text_field :value
      = f.submit nil, :class => 'btn btn-success btn-large'
  %div.col-lg-4

