 <div class="signup_unit">
<h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email, placeholder: 'user@domain.com', :autofocus => true  %>

  <%= f.label :password %>
  <%= f.password_field :password, placeholder: 'Min 6 Characters'  %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :location %>
  <%= f.text_field :location, :rows=>5 %>

<h5>Profile Pic </h5>
  <%= f.file_field :avatar %>

  <%= f.label :occupation %>
  <%= f.select :occupation, options_for_select([['UX Research'], ['UX Designer'],['UX|UI Designer'], ['Mobile UX|UI Designer'],['Mobile App Designer'],['Mobile App Developer'],['UX - Designer'],['Designer - Developer'],['Jack of all trades'],['Web Developer'],['Software Engineer'],['Database Developer'],['Front-End Developer'],['Back-End Developer'],['Full-Stack Developer']]), :include_blank => true %>

 <%= f.submit "Sign up", :class => "btn btn-primary btn-large" %>
<% end %>

<!--
<button class="btn btn-large dropdown-toggle"> -->
<%= render "devise/shared/links" %><!-- </button> -->

</div>
