 <div class="lemon">
  <div class="status-container">
    <h1>Edit status whoops!</h1>

    <%= form_for @status do |f| %>
        <% flash.each do |name,msg| %>
          <% content_tag(:div, msg, class: "alert alert-#{name}") %>
       <% end %>

<li>
    <%= f.label :category %><br/>
    <%= f.select :category, options_for_select([['UX Research'], ['UX Designer'],['UX|UI Designer'], ['Mobile UX|UI Designer'],['Mobile App Designer'],['Mobile App Developer'],['UX - Designer'],['Digital  Designer'],['Designer - Developer'],['Jack of all trades'],['Web Developer'],['Software Engineer'],['Database Developer'],['Front-End Developer'],['Back-End Developer'],['Full-Stack Developer']]), :include_blank => true %></li>

<li><%= f.label :status, 'Brag or Yelp' %></li>
<li><%= f.text_area :status, :rows=>3 %></li>

<li>
    <%= f.label :need_help, 'Need help?' %>
    <%= f.check_box :need_help %></li>
    <%= f.submit :class => "btn btn-primary btn-large" %>

    <% end %>

<br>
<%= link_to 'Back', root_path %>
</div>
</div>