<%= render 'form' %>

<div class="container marketing">
  <% @statuses.each do |status| %>
  <div class="statuses_show">
    <li><%= image_tag(status.user.avatar, :class => "profile" ) %></li>


    <li> <button class="btn btn-warning">
    <%= link_to(status.user.username, status.user ) %></button></li>

    <li><%= status.category %></li>
    <li<i><%= status.status %>"</i></li>
    </div>
  <% end %>
</div>

