<div class="container marketing lemon">
  <div class="row">

    <div class="col-lg-6">
    <%= image_tag @user.avatar.url, :class => 'big-profile' %>
    </div>

    <div class="col-lg-6">
    <h1><%= link_to(@user.username, @user) %></h1>
    <h5><%= @user.occupation %></h5>
    <li><%= @user.location %></li>
    <% if user_signed_in? %>
    <%= link_to 'Edit profile', edit_user_registration_path,  :class => 'btn btn-large btn-success' %>
    <%= link_to 'Create Status', new_status_path, :class => 'btn btn-large btn-primary' %>
    <% end %>
    </div>

  </div>
</div>
  <!-- /User Status Container -->

<div class="lemon">
 <%= render 'users/tabs' %>
</div>