<div class="container marketing lemon">
  <div class="row lemon">
    <div class="col-lg-4">
    <%= image_tag @user.avatar.url, :class => 'big-profile' %>
    </div>

    <div class="col-lg-4">
    <h1><%= link_to(@user.username, @user) %></h1>
    <h4><%= @user.occupation %> | <%= @user.location %></h4>
    <% if user_signed_in? %>
      <%= link_to 'Edit profile', edit_user_registration_path,  :class => 'btn btn-large btn-success' %>
      <%= link_to 'Create Status', new_status_path, :class => 'btn btn-large btn-primary' %>
    <% end %>
    </div>
  </div>

 <div class="container marketing aubergine">
    <div class="col-lg-5">
      <h2 class="featurette-heading bluey-text">Skills</h2>
      <div class="chart_dufus">
        <div id="chart"></div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="float">
        <%= select_tag( 'chapters', options_for_select(@chapters.map { |a| [a,a]} )) %>
      </div>
      <div class="float">
        <%= button_tag('Update Chart', :id => 'show_chart', :class => 'btn btn-success btn-large bottomer' ) %>
      </div>
      <div class="clear">
      </div>
      <div class="float">
        <% if user_signed_in? %>
          <%= link_to('New', new_profile_path, :remote => true, :class => 'btn btn-primary btn-large') %>
        <% end %>
      </div>
      <div id="new_skill"></div>
    </div>
  </div>

</div>
  <!-- /User Status Container -->
<div class="container marketing lemon">
 <%= render 'users/tabs' %>
</div>