<div class="container marketing">
  <div class="row">
    <div class="col-lg-5">
                <%= image_tag @user.avatar.url, :class => 'big-profile' %>
    </div>

    <div class="col-lg-5">

                <h1><%= link_to(@user.username, @user) %></h1>
                <h5><%= @user.occupation %></h5>
                <%= @user.location %><br>
                                  <% if user_signed_in? %>
                      <%= link_to 'Edit profile', edit_user_registration_path,  :class => 'btn btn-large btn-success' %>
                    <%= link_to 'Create Status', new_status_path, :class => 'btn btn-large btn-primary' %>
                  <% end %>
    </div>
  </div>
</div>
<!-- /User Status Container -->

<div class="container marketing">

  <% @user.statuses.each do |status| %>
    <div class="statuses_show">
    <li><%= image_tag(status.user.avatar, :class => "profile" ) %></li>
      <li> <button class="btn btn-success">
      <%= link_to(status.user.username, status.user ) %></button></li>

      <li><%= status.category %></li>
      <li<i><%= status.status %>"</i></li>
             <% flash.each do |name,msg| %>
             <% content_tag(:div, msg, class: "alert alert-#{name}") %>
             <% end %>
         </div>
    <% end %>
</div>