<% @statuses.each do |status| %>
  <% if status.need_help? %>
    <div class="statuses_bluey col-lg-3">
      <ul>
        <li><%= image_tag(status.user.avatar, :class => "profile" ) %>
        <a href="#" data-toggle="tooltip" title="Oh boii I need help" class="btn-group">
          <%= image_tag('../images/dufus_mini.png' ) %></a></li>
        <li><button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right">I need some help</button></li>

        <li><button class="btn btn-warning"><%= link_to(status.user.username, status.user ) %></button></li>
        <li class="topper"><%= status.category %></li>
        <li><i>"<%= status.status %>"</i></li>
        <li><%= time_ago_in_words(status.created_at) + " ago" %></li>
      </ul>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="paginate col-lg-12">
    <ul class="pagination pagination-large">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>